@model IEnumerable<Cuidados.Caninos.Marcos.Montiel.Models.ComPersona>
@{
    ViewData["Title"] = "Persona";
}

<link rel="stylesheet" type="text/css" href="~/css/tablas.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous">

<div class="contenedor-formulario">
    <div class="titulo">
        <h2 class="titulo2">Persona</h2>
    </div>
    <div class="wrap">
        <div class="form-group">
            <a asp-action="Create" class="btn btn-default agregar"><i class="fas fa-plus"></i> Agregar</a>
        </div>
        <div class="table-design">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Género</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.APaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AMaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComCatSexo.Nombre)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID">Ver</a>
                            <a asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>